In [1]:
# Problem statement
# We have several data about the passengers
# we shall predict whether a person survived or did not survive

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

## Data collection and processing

In [3]:
# Loading the dataset to pandas dataframe
titanic_data=pd.read_csv('train.csv')
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 0 Did not Survive
## 1 Survived

In [4]:
## Check the no of rows and columns
titanic_data.shape

(891, 12)

In [5]:
# Getting some information about the data
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Handling the missing values

In [7]:
# Drop the cabi column from the dataset

titanic_data = titanic_data.drop(columns='Cabin',axis=1)

In [8]:
# Replaci.fillnang the missing values for age with the mean (imputation)
titanic_data['Age'].fillna(titanic_data['Age'].mean(),inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10732\1891125675.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_data['Age'].fillna(titanic_data['Age'].mean(),inplace=True)

In [9]:
titanic_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [10]:
# For embarked it is a categorical data so we find the values repeated most times and replace it
# Finding the The mode of Embarked column
print(titanic_data['Embarked'].mode())

0    S
Name: Embarked, dtype: object

In [11]:

print(titanic_data['Embarked'].mode()[0])

S

In [12]:
## Replacing the missing values in Embarked column with mode value
titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0],inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10732\3070433877.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0],inplace=True)

In [13]:
titanic_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

## Data Analysis

In [14]:
## Statistical measures about the data
titanic_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.002015,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,29.699118,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [15]:
# Finding the number of people who survived and those who did not
titanic_data['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [16]:
# Data visualization
sns.set()

In [17]:
## Making a countplot for survived column
sns.countplot('Survived', data=titanic_data)

TypeError: countplot() got multiple values for argument 'data'

In [ ]:
# Number of survivors based og gender
titanic_data['Sex'].value_counts()

In [20]:
sns.countplot('Sex', hue='Survived', data=titanic_data)

TypeError: countplot() got multiple values for argument 'data'

In [21]:
# Encode the sex value 0 male 1 female
titanic_data['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [22]:
titanic_data['Embarked'].value_counts()

Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

In [25]:
# Encode also for Embarked c=0,c=1,Q=2
# Encode the sex value 0 male 1 female
titanic_data.replace({'Sex':{'male':0,'female':1},'Embarked':{'S':0,'C':1,'Q':2}},inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10732\184616784.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  titanic_data.replace({'Sex':{'male':0,'female':1},'Embarked':{'S':0,'C':1,'Q':2}},inplace=True)

In [49]:
titanic_data['Embarked'].value_counts()

Embarked
0    646
1    168
2     77
Name: count, dtype: int64

In [29]:
## Separating features and target
x = titanic_data.drop(columns=['PassengerId','Name','Ticket','Survived'],axis=1)

y = titanic_data['Survived']

In [59]:
print(x)

     Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
0         3    0  22.000000      1      0   7.2500         0
1         1    1  38.000000      1      0  71.2833         1
2         3    1  26.000000      0      0   7.9250         0
3         1    1  35.000000      1      0  53.1000         0
4         3    0  35.000000      0      0   8.0500         0
..      ...  ...        ...    ...    ...      ...       ...
886       2    0  27.000000      0      0  13.0000         0
887       1    1  19.000000      0      0  30.0000         0
888       3    1  29.699118      1      2  23.4500         0
889       1    0  26.000000      0      0  30.0000         1
890       3    0  32.000000      0      0   7.7500         2

[891 rows x 7 columns]

In [31]:
print(y)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

## Splitting the data into training and test data

In [32]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.2,random_state=2)

In [33]:
print(x.shape,x_train.shape,x_test.shape)

(891, 7) (712, 7) (179, 7)

## Model Training (Logistic Regression Model)

In [34]:
model =LogisticRegression()

In [ ]:
#Training the model with the training data

In [35]:
model.fit(x_train,y_train)

C:\Users\LENOVO\anaconda3\envs\machinelearning\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [39]:
## Model Ealuation using the accuracy score
# Accuracy on the training data
x_train_prediction = model.predict(x_train)
#Comparing the predicted x train with our y train using the accuracy score
training_data_accuracy=accuracy_score(y_train,x_train_prediction)
print('The accuracy score of training data is: ',training_data_accuracy*100,' %')

The accuracy score of training data is:  80.75842696629213  %

In [42]:
# Model evaluation using the test data 
x_test_prediction = model.predict(x_test)
# Comparing the predicted test data with the y test
testingaccuracy=accuracy_score(y_test,x_test_prediction)
print('The accuracy score of training data is: ',testingaccuracy*100,' %')

The accuracy score of training data is:  78.2122905027933  %

In [52]:
## Predictive system
input_data = (3,0,26,0,0,18.7875,1)

input_data_as_numpy = np.asarray(input_data)

## Reshaping the data
reshaped=input_data_as_numpy.reshape(1,-1)
prediction= model.predict(reshaped)
print(prediction[0])
if (prediction[0]==0):
    print("The passenger Did not surviveðŸ˜¢")
else:
    print("The passenger SurvivedðŸ˜Š")

0
The passenger Did not surviveðŸ˜¢

C:\Users\LENOVO\anaconda3\envs\machinelearning\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [53]:
from sklearn.ensemble import RandomForestClassifier

# Create a Random Forest Classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Fit the model to the training data
rf_classifier.fit(x_train, y_train)

RandomForestClassifier(random_state=42)

In [54]:
## Model Ealuation using the training data
# Accuracy on the training data
x_train_prediction = rf_classifier.predict(x_train)
#Comparing the predicted x train with our y train using the accuracy score
training_data_accuracy=accuracy_score(y_train,x_train_prediction)
print('The accuracy score of training data is: ',training_data_accuracy*100,' %')

The accuracy score of training data is:  98.59550561797754  %

In [55]:
# Model evaluation using the test data 
x_test_prediction = rf_classifier.predict(x_test)
# Comparing the predicted test data with the y test
testingaccuracy=accuracy_score(y_test,x_test_prediction)
print('The accuracy score of training data is: ',testingaccuracy*100,' %')

The accuracy score of training data is:  80.44692737430168  %

In [56]:
input_data = (3,0,26,0,0,18.7875,1)

input_data_as_numpy = np.asarray(input_data)

## Reshaping the data
reshaped=input_data_as_numpy.reshape(1,-1)
prediction=  rf_classifier.predict(reshaped)
print(prediction[0])
if (prediction[0]==0):
    print("The passenger Did not surviveðŸ˜¢")
else:
    print("The passenger SurvivedðŸ˜Š")

1
The passenger SurvivedðŸ˜Š

C:\Users\LENOVO\anaconda3\envs\machinelearning\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [62]:
import pickle
filename='titanic.sav'
pickle.dump(rf_classifier,open(filename,'wb'),protocol=4)

In [63]:
titanicmodel=pickle.load(open('titanic.sav','rb'))

In [64]:
input_data = (3,0,26,0,0,18.7875,1)

input_data_as_numpy = np.asarray(input_data)

## Reshaping the data
reshaped=input_data_as_numpy.reshape(1,-1)
prediction= titanicmodel.predict(reshaped)
print(prediction[0])
if (prediction[0]==0):
    print("The passenger Did not surviveðŸ˜¢")
else:
    print("The passenger SurvivedðŸ˜Š")

1
The passenger SurvivedðŸ˜Š

C:\Users\LENOVO\anaconda3\envs\machinelearning\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(